*[class*="throbby"], *[class*="throbby"]::before, *[class*="throbby"]::after {
	box-sizing: border-box; }

.throbby {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -2px;
	margin-top: -5px;
	width: 4px;
	height: 10px;
	background-color: #333;
	animation: 1s ease infinite throbby-2; }
	.throbby::before {
		position: absolute;
		display: table;
		content: '';
		left: -8px;
		top: 0px;
		width: 4px;
		height: 10px;
		background-color: #333;
		animation: 1s ease infinite throbby-1; }
	.throbby::after {
		position: absolute;
		display: table;
		content: '';
		right: -8px;
		top: 0px;
		width: 4px;
		height: 10px;
		background-color: #333;
		animation: 1s ease infinite throbby-3; }

@keyframes throbby-1 {
	0% {
		transform: scaleY(1); }
	20% {
		transform: scaleY(2); }
	40% {
		transform: scaleY(1); }
	60% {
		transform: scaleY(1); }
	80% {
		transform: scaleY(1); }
	100% {
		transform: scaleY(1); } }

@keyframes throbby-2 {
	0% {
		transform: scaleY(1); }
	20% {
		transform: scaleY(1); }
	40% {
		transform: scaleY(2); }
	60% {
		transform: scaleY(1); }
	80% {
		transform: scaleY(1); }
	100% {
		transform: scaleY(1); } }

@keyframes throbby-3 {
	0% {
		transform: scaleY(1); }
	20% {
		transform: scaleY(1); }
	40% {
		transform: scaleY(1); }
	60% {
		transform: scaleY(2); }
	80% {
		transform: scaleY(1); }
	100% {
		transform: scaleY(1); } }

.throbby-wheel {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	background-color: #aaa;
	border-radius: 50%; }
	.throbby-wheel::before {
		position: absolute;
		display: table;
		content: '';
		left: 0px;
		top: 9px;
		width: 20px;
		height: 2px;
		background-color: black;
		animation: 1s ease infinite rotation; }

.throbby-rolling {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -5px;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	background-color: #000;
	animation: 1.2s linear infinite throbby-rolling; }

@keyframes throbby-rolling {
	0% {
		opacity: 0;
		transform: translateX(-30px) rotate(0deg); }
	10% {
		opacity: 0; }
	50% {
		opacity: 1;
		transform: translateX(0px) rotate(180deg); }
	90% {
		opacity: 0; }
	100% {
		opacity: 0;
		transform: translateX(30px) rotate(360deg); } }

.throbby-droplet {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -7px;
	margin-top: -7px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #aaa;
	animation: 0.5s ease infinite throbby-droplet; }

@keyframes throbby-droplet {
	0% {
		transform: scale(1.5, 1); }
	50% {
		transform: scale(1, 1.5); }
	100% {
		transform: scale(1.5, 1); } }

.throbby-eccentric {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	background-color: #aaa;
	border-radius: 50%;
	animation: 0.7s linear infinite rotation; }
	.throbby-eccentric::before {
		position: absolute;
		display: table;
		content: '';
		left: 0px;
		top: 50%;
		margin-top: -4px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #555; }

.throbby-wormhole {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	background-color: #aaa;
	border-radius: 50%;
	animation: 0.5s linear infinite rotation; }
	.throbby-wormhole::before {
		position: absolute;
		display: table;
		content: '';
		left: 0px;
		top: 50%;
		margin-top: -7px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: #555; }
	.throbby-wormhole::after {
		position: absolute;
		display: table;
		content: '';
		left: 0px;
		top: 50%;
		margin-top: -8px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: #222; }

.throbby-triangle {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 0px;
	margin-top: 0px;
	width: 0px;
	height: 0px;
	animation: 1s linear infinite rotation; }
	.throbby-triangle::after {
		position: absolute;
		display: table;
		content: '';
		left: 0;
		top: 0;
		width: 0px;
		height: 0px;
		margin-left: -10px;
		margin-top: -11px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 17px solid #999; }

.throbby-dots {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -5px;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #bbb;
	animation: 0.6s linear infinite throbby-dots2; }
	.throbby-dots::before {
		position: absolute;
		display: table;
		content: '';
		left: -15px;
		top: 0px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #bbb;
		animation: 0.6s linear infinite throbby-dots1; }
	.throbby-dots::after {
		position: absolute;
		display: table;
		content: '';
		right: -15px;
		top: 0;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #bbb;
		animation: 0.6s linear infinite throbby-dots3; }

@keyframes throbby-dots1 {
	0% {
		background-color: #bbb; }
	30% {
		background-color: #888; }
	40% {
		background-color: #888; }
	60% {
		background-color: #bbb; } }

@keyframes throbby-dots2 {
	20% {
		background-color: #bbb; }
	40% {
		background-color: #888; }
	60% {
		background-color: #888; }
	80% {
		background-color: #bbb; } }

@keyframes throbby-dots3 {
	40% {
		background-color: #bbb; }
	60% {
		background-color: #888; }
	80% {
		background-color: #888; }
	100% {
		background-color: #bbb; } }

.throbby-ring {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 4px solid #bbb;
	animation: 0.5s linear infinite rotation; }
	.throbby-ring::before {
		position: absolute;
		display: table;
		content: '';
		left: 50%;
		top: -4px;
		margin-left: -2px;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #555; }

.throbby-2-dots {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 0px;
	margin-top: 0px;
	width: 0px;
	height: 0px;
	animation: 0.5s linear infinite rotation;
	background-color: #444; }
	.throbby-2-dots::before {
		position: absolute;
		display: table;
		content: '';
		left: 0px;
		top: 0px;
		width: 6px;
		height: 6px;
		margin-top: -3px;
		margin-left: -10px;
		background-color: #999;
		border-radius: 50%; }
	.throbby-2-dots::after {
		position: absolute;
		display: table;
		content: '';
		left: 0px;
		top: 0px;
		width: 6px;
		height: 6px;
		margin-top: -3px;
		margin-left: 4px;
		background-color: #999;
		border-radius: 50%; }

.throbby-4-dots {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border: 5px dotted #999;
	border-radius: 50%;
	animation: 0.8s linear infinite rotation; }

.throbby-8-dots {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border: 3px dotted #999;
	border-radius: 50%;
	animation: 1s linear infinite rotation; }

.throbby-gear {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border: 6px dashed #999;
	border-radius: 50%;
	animation: 1s linear infinite rotation; }
	.throbby-gear::after {
		position: absolute;
		display: table;
		content: '';
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
		width: 24px;
		height: 24px;
		border: 2px dashed #999;
		border-radius: 50%; }

.throbby-clock {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border: 2px solid #999;
	border-radius: 50%; }
	.throbby-clock::before {
		position: absolute;
		display: table;
		content: '';
		left: 50%;
		top: 50%;
		margin-left: -1px;
		margin-top: -7px;
		width: 2px;
		height: 14px;
		background-color: #999;
		background-clip: content-box;
		padding-bottom: 7px;
		animation: 0.4s linear infinite rotation; }
	.throbby-clock::after {
		position: absolute;
		display: table;
		content: '';
		left: 50%;
		top: 50%;
		margin-left: -1.5px;
		margin-top: -6px;
		width: 3px;
		height: 12px;
		background-color: #999;
		background-clip: content-box;
		padding-bottom: 6px;
		animation: 6s linear infinite rotation; }

.throbby-star {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -1px;
	margin-top: -10px;
	width: 2px;
	height: 20px;
	background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%);
	animation: 0.6s linear infinite throbby-star-1; }
	.throbby-star::before {
		position: absolute;
		display: table;
		content: '';
		left: 50%;
		top: 50%;
		margin-top: -10px;
		margin-left: -1px;
		width: 2px;
		height: 20px;
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%);
		transform: rotate(60deg);
		animation: 0.6s linear infinite throbby-star-2; }
	.throbby-star::after {
		position: absolute;
		display: table;
		content: '';
		left: 50%;
		top: 50%;
		margin-top: -10px;
		margin-left: -1px;
		width: 2px;
		height: 20px;
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%);
		transform: rotate(120deg);
		animation: 0.6s linear infinite throbby-star-3; }

@keyframes throbby-star-1 {
	0% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #555 70%, #555 100%); }
	16.66% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	33.33% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	50% {
		background: linear-gradient(to top, #555 0%, #555 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	66.66% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	83.33% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	100% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); } }

@keyframes throbby-star-2 {
	0% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	16.66% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #555 70%, #555 100%); }
	33.33% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	50% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	66.66% {
		background: linear-gradient(to top, #555 0%, #555 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	83.33% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	100% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); } }

@keyframes throbby-star-3 {
	0% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	16.66% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	33.33% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #555 70%, #555 100%); }
	50% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	66.66% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	83.33% {
		background: linear-gradient(to top, #555 0%, #555 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); }
	100% {
		background: linear-gradient(to top, #999 0%, #999 30%, transparent 30%, transparent 70%, #999 70%, #999 100%); } }

.throbby-crescent {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border-left: 4px solid #aaa;
	border-top: 4px solid #aaa;
	animation: 0.5s linear infinite rotation; }

.throbby-arc {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #aaa;
	border-left-color: transparent;
	animation: 0.5s linear infinite rotation; }

@keyframes rotation {
	0% {
		transform: rotate(0deg); }
	100% {
		transform: rotate(360deg); } }

.throbby-reposition {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -5px;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #aaa;
	animation: 0.5s ease infinite throbby-reposition both; }

@keyframes throbby-reposition {
	0% {
		transform: translateX(-100%) scale(1, 1); }
	10% {
		transform: translateX(-100%) scale(1, 1); }
	30% {
		transform: scale(2, 0.5); }
	40% {
		transform: translateX(100%) scale(1, 1); }
	60% {
		transform: translateX(100%) scale(1, 1); }
	70% {
		transform: scale(2, 0.5); }
	90% {
		transform: translateX(-100%) scale(1, 1); }
	100% {
		transform: translateX(-100%) scale(1, 1); } }

.throbby-hypno {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #999;
	background-color: #fff; }
	.throbby-hypno::before {
		position: absolute;
		display: table;
		content: '';
		left: 50%;
		top: 50%;
		border-radius: 50%;
		background-color: #bbb;
		animation: 0.7s linear infinite throbby-hypno-1; }
	.throbby-hypno::after {
		position: absolute;
		display: table;
		content: '';
		left: 50%;
		top: 50%;
		border-radius: 50%;
		background-color: #ddd;
		animation: 0.7s linear infinite throbby-hypno-2; }

@keyframes throbby-hypno-1 {
	0% {
		width: 0;
		height: 0;
		margin-left: 0;
		margin-top: 0; }
	50%,
	100% {
		width: 18px;
		height: 18px;
		margin-left: -9px;
		margin-top: -9px; } }

@keyframes throbby-hypno-2 {
	0%,
	50% {
		width: 0;
		height: 0;
		margin-left: 0;
		margin-top: 0; }
	100% {
		width: 18px;
		height: 18px;
		margin-left: -9px;
		margin-top: -9px; } }

.throbby-hourglass {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -6px;
	margin-top: -10px;
	width: 12px;
	height: 20px;
	border: 1px solid #999;
	border-radius: 2px;
	animation: 0.5s linear infinite throbby-hourglass; }
	.throbby-hourglass::before {
		position: absolute;
		display: table;
		content: '';
		left: 0;
		top: 1px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 9px 5px 0 5px;
		border-color: #aaa transparent transparent transparent; }
	.throbby-hourglass::after {
		position: absolute;
		display: table;
		content: '';
		left: 0;
		top: 8px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 5px 9px 5px;
		border-color: transparent transparent #aaa transparent; }

@keyframes throbby-hourglass {
	0% {
		transform: rotate(0deg); }
	33%,
	100% {
		transform: rotate(180deg); } }
